body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-optical-sizing: auto;

  background-color: hsl(0, 0%, 64%);
  padding: 0px;
  margin: 0;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-optical-sizing: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

button {
  border: none;
  background-color: black;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  width: 50%;
  font-size: 17px;
}

button:hover {
  background-color: hsl(0, 0%, 10%);
  transform: scale(1.05);
}

button:active {
  background-color: hsl(0, 0%, 20%);
  transform: scale(0.95);
}

.button-link {
  display: inline-block;
  border: none;
  background-color: black;
  color: white;
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
}

.button-link:hover {
  background-color: hsl(0, 0%, 20%);
  transform: scale(1.05);
}

.activity-full-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .main-title a {
  text-decoration: none;
  color: black;
}

.header-links {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.header-links li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
} */
