body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 96%);
  padding: 1rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.travel-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
}

input {
  border: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  width: 100%;
  text-align: center;
}

button {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: hsl(0, 0%, 10%);
  transform: scale(1.05);
}

button:active {
  background-color: hsl(0, 0%, 20%);
  transform: scale(0.95);
}

.activity-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.activity-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
  flex-wrap: wrap;
  min-width: 250px;
}

.date-text {
  color: hsl(0, 0%, 30%);
}

.activity-title {
  font-size: 1.35rem;
}

@media (max-width: 600px) {
  .activity-list {
    grid-template-columns: 1fr;
  }
}
