
.activity-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .activityList-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .activity-item,
  .activity-item-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    margin: 1rem;
    flex-wrap: wrap;
    min-width: 250px;
    font-size: 17px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.211);
  }
  
  .date-text,
  .time-text {
    color: hsl(0, 0%, 30%);
  }
  
  .activity-title {
    margin-top: 30px;
    font-size: 1.35rem;
    background-color: rgb(174, 160, 143);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .material-icons-outlined {
    font-size: 1rem;
  }
  
  .clock-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .edit-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
  }

  .cancelBtn {
    background-color: #7f180f;
    color: white;
  }

  .saveBtn {
    background-color: #1a711e;
    color: white;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
   
  @media (max-width: 600px) {
    .activity-list {
      grid-template-columns: 1fr;
    }
  }
  