footer {
  background-color: #252424;
  padding: 0;
  margin-top: 70px;
  color: rgb(246, 246, 238);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 100px;
  padding: 2em;
  max-width: 1200px;
  width: 90%;
}

.trip-planner-info,
.randomCat-wrapper,
.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(102, 89, 81, 0.283);
  padding: 1em;
  width: 220px;
  border-radius: 30px;
  margin: 40px;
}

.randomCat-img {
  width: 180px;
  height: 180px;
  border-radius: 1rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

figcaption {
  text-align: center;
  color: rgb(246, 246, 238);
  font-weight: bold;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(143, 131, 117);
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 50px;
}

.footer-link:hover {
  color: #e08900;
  text-decoration: underline;
}

/* MEDIASKÄRMAR */

/* För skärmar mindre än 1024px (mellanläge) */
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr); /* Två kolumner */
    gap: 50px;
  }
}

/* För skärmar mindre än 768px (mobil) */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr; /* En kolumn */
    gap: 30px;
  }

  .trip-planner-info,
  .randomCat-wrapper,
  .weather-wrapper {
    width: 100%; /* Full bredd */
    max-width: 300px;
    margin: 20px auto; /* Centrera */
  }
}
